.review-text{
    margin-left: 100px;
    text-align: justify;
}
.review-text-right{
    margin-right: 100px;
    text-align: justify;
    order: -1;
    
}

@media only screen and (max-width: 576px) {
    .img-width{
      width: 100%;
    }
    .review-text{
        margin-left:0;
        margin-top: 20px;
    }
    .review-text-right{
        margin-right:0;
        margin-top: 20px;
        order: 0;
    }
  }
  